div
{
    cursor:default
}
*
{
    box-sizing: border-box;
}

.column
{
    flex-grow: 1;
    cursor: default;
    user-select:none
}

.row
{
    flex-grow: 1;
    display: flex;
}

.container
{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;

    border: thin black solid;
    border-radius: 3px;
}

#grid-container
{
    width: 500px;
    height: 500px;
}

.section
{
    display: flex;
    justify-content: space-evenly;
}
