div
{
    border: thin black solid;
}
*
{
    box-sizing: border-box;
}

.column
{
    flex-grow: 1;
}

.row
{
    flex-grow: 1;
    display: flex;
}

.container
{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
}

#grid-container
{
    width: 500px;
    height: 500px;
}

.section
{
    display: flex;
    justify-content: space-evenly;
}
