div
{
    border: thin black solid;
}
*
{
    box-sizing: border-box;
}

.column
{
    flex-grow: 1;
}

.row
{
    flex-grow: 1;
    display: flex;
}

.container
{
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 30rem;
}

.clicked
{
    background-color: #121212;
}
